################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/Rabbit/ackRevice/obj/
/Rabbit/ackRevice/bin/
/Rabbit/ackSend/obj/
/Rabbit/ackSend/bin/
/Rabbit/DirectRevice/obj/
/Rabbit/DirectRevice/bin/
/Rabbit/DirectSend/obj/
/Rabbit/DirectSend/bin/
/Rabbit/FanoutRevice/obj/
/Rabbit/FanoutRevice/bin/
/Rabbit/FanoutSend/obj/
/Rabbit/FanoutSend/bin/
/packages/
/Rabbit/PersistentRevice/obj/
/Rabbit/PersistentRevice/bin/
/Rabbit/Revice/obj/
/Rabbit/Revice/bin/
/Rabbit/Send/obj/
/Rabbit/Send/bin/
/Rabbit/TopicRevice/obj/
/Rabbit/TopicRevice/bin/
/Rabbit/TopicSend/obj/
/Rabbit/TopicSend/bin/
/Rabbit/WorkQueueSend/obj/
/Rabbit/WorkQueueSend/bin/
/Rabbit/WorkQueueWorkOne/obj/
/Rabbit/WorkQueueWorkOne/bin/
/Rabbit/WorkQueueWorkTwo/obj/
/Rabbit/WorkQueueWorkTwo/bin/

